* {
  font-family: 'Montserrat', sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.full-page {
  display: flex;
  flex-direction: row;
}

/* header section */

header {
  background-color: #46424D;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3em;
  color: white;
  font-weight: 100;
}

aside {
  height: 900px;
  width: 70%;
  background-color: #2B2733;
  display: flex;
  justify-content: center;
}

label {
   color: white;
 }

input {
  background: #46424D;
  border-color: #46424D;
  border-top: 0;
  border-left: 0;
  border-bottom: solid 2px white;
  color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.minutes, .seconds {
  width: 40%;
  display: block;
}

.goal {
  width: 100%;
}

.start-activity {
  margin-top: 4%;
  width: 150px;
  height: 40px;
  font-size: 1em;
  color: #46424D;
}

.activity-form {
  background-color: #46424D;
  margin: 4% 2%;
  padding: 1.5% 2%;
  width: 90%;
  height: 80%;
  border-radius: 4px;
  padding-right: 10%;
  padding-left: 10%;
}

.btn {
  height: 70px;
  width: 180px;
  background-color: #46424D;
  color: #FFFFFF;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding-top: 14px;
}

h2, .aside-title, .section-title {
  color: #FFFFFF;
  padding-top: 20px;
}

.aside-title {
  display: block;
}

.category {
  color: #FFFFFF;
  padding-bottom: 20px;
}

.form-activity-buttons {
  display: flex;
  justify-content: space-between;
}

.goal {
  display: flex;
  align-content: center;
}

.goal-input {
  padding-top: 20%;
}

.bottom-form {
  /* display: flex;
  justify-content: space-between; */
  padding-top: 30%;
  display: block;
}

.study-button {
  background-color: #46424D;
  background-image: url('study.svg');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: top center;
  /* display: flex;
  align-content: center; */
}

.meditate-button {
  background-color: #46424D;
  background-image: url('meditate.svg');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: top center;
}

.exercise-button {
  background-color: #46424D;
  background-image: url('exercise.svg');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: top center;
}


 main {
   height: 900px;
   width: 30%;
   background-color: #2B2733;
   border-left: solid 2px #46424D;
 }

 .main-title, .section-title {
   padding-left: 10px;
 }

.aside-showTimer {
  display: flex;
  justify-content: center;
}

.aside-timer {
  background-color: #46424D;
    margin: 4% 2%;
    padding: 1.5% 2%;
    width: 90%;
    height: 80%;
    border-radius: 4px;
    padding-right: 10%;
    padding-left: 10%;
}

.timer-page {
    background-color: #46424D;
    margin: 4% 2%;
    padding: 1.5% 2%;
    width: 90%;
    height: 80%;
    border-radius: 4px;
    padding-right: 10%;
    padding-left: 10%;
}

.minutes-seconds {
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.timer-heading {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
}

.start {
    border-radius: 400px;
    width: 59%;
    height: 54%;
    background-color: #46424D;
    border: solid 2px white;
    font-size: 2.5em;
    color: white;
    margin-left: 22%;
    margin-top: 15%;
}
