/* full page!!! */
* {
  font-family: 'Montserrat', sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.full-page {
  display: flex;
  flex-direction: row;
}

/* header section */

header {
  background-color: #46424D;
  display: flex;
  justify-content: center;
}

.heading {
  display: block;
}

h1 {
  color: white;
  font-size: 3em;
  font-weight: 100;
}

/* aside container */
aside {
  background-color: #2B2733;
  height: 900px;
  justify-content: center;
  width: 70%;
}

label {
   color: white;
   font-size: 1.2em;
   display: flex;
   justify-content: space-between;
 }

/* button input/labels */
input {
  background: #46424D;
  border-color: #46424D;
  border-left: 0;
  border-top: 0;
  color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.minutes, .seconds {
  display: block;
  font-size: 1.2em;
  height: 45px;
  width: 40%;
  border-bottom: solid 2px white;
}

.goal {
  width: 100%;
  border-bottom: solid 2px white;
}
/* start activity page */
.start-activity {
  color: #46424D;
  float: right;
  font-size: 1em;
  height: 40px;
  margin-top: 50px;
  width: 150px;

}

.activity-form {
  background-color: #46424D;
  border-radius: 4px;
  height: 80%;
  margin-left: 50px;
  margin-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  width: 90%;
}

.btn {
  background-color: #46424D;
  border-radius: 4px;
  color: #FFFFFF;
  display: flex;
  height: 80px;
  justify-content: center;
  padding-top: 14px;
  width: 195px;
}


h2, .aside-title, .section-title {
  color: #FFFFFF;
  padding-top: 20px;
}

.aside-title {
  font-size: 1.5em;
}

.category {
  color: #FFFFFF;
  padding-bottom: 20px;
}

.form-activity-buttons {
  display: flex;
  justify-content: space-between;
}

.goal {
  align-content: center;
  display: flex;
  font-size: 1.2em;
  height: 45px;
}

.goal-input {
  padding-top: 20%;
}

.bottom-form {
  padding-top: 15%;
  display: flex;
  justify-content: space-between;
}

/* non active study button */

.study-button {
  background-color: #46424D;
  background-image: url('study.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  border: solid 2px;
  font-size: larger;
}

.meditate-button {
  background-color: #46424D;
  background-image: url('meditate.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  border: solid 2px;
  font-size: larger;
}

.exercise-button {
  background-color: #46424D;
  background-image: url('exercise.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  border: solid 2px;
  font-size: larger;
}

/* active styling */

.active-study-button {
  background-image: url('study-active.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  border-color: solid 2px #B3FD78;
  color: #B3FD78;
}

.active-meditate-button {
  background-image: url('meditate-active.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  border-color: solid 2px #C278FD;
  color: #C278FD;
}

.active-exercise-button {
  background-image: url('exercise-active.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  border-color: solid 2px #FD8078;
  color: #FD8078;
}


.error-span {
  color: white;
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.error-image {
  height: 7%;
  width: 7%;
}


 main {
   background-color: #2B2733;
   border-left: solid 2px #46424D;
   height: 900px;
   width: 30%;
 }

 .main-title, .section-title {
   padding-left: 10px;
 }

.aside-showTimer {
  display: flex;
  justify-content: center;
}

.aside-timer {
  background-color: #46424D;
  border-radius: 4px;
  display: flex;
  height: 80%;
  justify-content: center;
  margin-left: 50px;
  margin-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
  padding: 1.5% 2%;
  width: 90%;
}

.timer-page {
  background-color: #46424D;
  border-radius: 4px;
  height: 80%;
  margin: 4% 2%;
  padding-left: 10%;
  padding-right: 10%;
  padding: 1.5% 2%;
  width: 90%;
}

.minutes-seconds {
  display: flex;
  font-size: 2em;
  justify-content: center;
}

.timer-heading {
  display: flex;
  font-size: 2.5em;
  justify-content: center;
}

.start {
  background-color: #46424D;
  border-radius: 400px;
  border: solid 3px white;
  color: white;
  font-size: 2.5em;
  height: 54%;
  margin-left: 22%;
  margin-top: 15%;
  width: 59%;
}

.study-color {
  border-color: #B3FD78;
}

.exercise-color {
  border-color: #FD8078;
}

.meditate-color {
  border-color: #C278FD;
}

.card {
  background-color: #46424D;
  border-color: white;
  border-radius: 3px;
  border-right: 10px;
  box-shadow: 0px 10px 10px 0px #26222D;
  color: white;
  height: 100px;
  width: 70%;
}

.log {
  color: #46424D;
  font-size: 1em;
  height: 40px;
  margin-top: 4%;
  text-align: center;
  width: 150px;
}
